#---------------------------------
#dir
#---------------------------------

venv/
.idea
__pycache__

#---------------------------------
#file
#---------------------------------

*.sqlite3
*.xlsx
*.md
*.png
