#---------------------------------
#dir
#---------------------------------

venv
.idea
static
media
gitignore

#---------------------------------
#file
#---------------------------------

*.sqlite3
*.xlsx
